<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    
      href="../public/stylesheets/style.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script type="text/javascript" src="./js/view.js"></script>
    <title>SSU Menu</title>
    <script>
       $(document).on("change", ".file-input", function(){
     
     $filename = $(this).val();

     if($filename == "")
         $filename = "파일을 선택해주세요.";

     $(".filename").text($filename);

 })
    </script>
   </head>
  <body>

    <main>
      <section class="language">
        이미지를 업로드하세요 (그나라말)
        <form action="image" method="post" enctype="multipart/form-data">

          <div class="box-file-input">
            <label>
              <input type="file" name="ev_display_<?php echo $k; ?>" class="file-input" accept="image/*" capture="camera">
            </label>
            <span class="filename">파일을 선택해주세요.
            </div>


          <!--<div class="filebox"> 
            <label for="ex_file">사진 촬영(그나라말)</label> 
            <input type="file" accept="image/*" capture="camera"> 
          </div>
          <div class="filebox"> 
            <label for="ex_file">파일 선택(그나라말)</label> 
            <input type="file" name="file"/> 
          </div>-->



          <!--<input type="file" value="파일 선택(그나라말)" name="file"/>
          <input type="file" value="사진 촬영(그나라말)" accept="image/*" capture="camera">-->
          <input type ="submit" value="업로드(그나라말)">
        </form>
      </section>
    </main>

    <footer>
      </div>
      <div class="top">
        <a href="#top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
      </div>
    </footer>
  </body>
</html>
