<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    
      href="../public/stylesheets/style.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script type="text/javascript" src="./js/view.js"></script>
    <title>SSU Menu</title>
  </head>
  <body>

    <main>
      <section class="language">
        이미지를 업로드하세요 (그나라말)
        <form action="image" method="post" enctype="multipart/form-data">
          <input type="file" value="파일 선택(그나라말)" name="img" accept="image/*"/>
          <input type ="submit" value="업로드(그나라말)">
        </form>
      </section>
    </main>

    <footer>
      </div>
      <div class="top">
        <a href="#top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
      </div>
    </footer>
  </body>
</html>
